@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer utilities {
  .font-bebas-neue {
    font-family: var(--font-bebas-neue), sans-serif;
  }
  
  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }
}